html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-card {
  margin-top: 20px;
  box-shadow: -1px px rgba(92, 92, 92, 0.1) !important;
}
.el-table,
.el-tabs,
.el-pagination,
.el-steps {
  margin-top: 20px;
}
.el-alert {
  margin-bottom: 20px;
}
